<ion-header>
  <ion-toolbar>
    <ion-title>Task View</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['user','tasks']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="taskForm">
    <ion-item
      ><ion-input
        type="text"
        inputmode="text"
        formControlName="title"
        autofocus="true"
        placeholder="Task Title"
      ></ion-input
    ></ion-item>

  </form>

</ion-content>

<ion-footer>
    <ion-button expand="block" type="submit" (click)="onSubmit()">Save</ion-button>
  <ion-button expand="block" color="danger" (click)="onDelete()">Delete</ion-button>
</ion-footer>
