<ion-content class="ion-padding">
  <h1 class="ion-text-center">Login Page</h1>
  <form [formGroup]="authForm">
    <ng-container *ngIf="creatingAccount">
      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input type="text" formControlName="name" placeholder="Name"></ion-input>
      </ion-item>
    </ng-container>

    <ion-item>
      <ion-icon name="mail-outline" slot="start"> </ion-icon>
      <ion-input type="email" placeholder="Email" inputmode="email" formControlName="email">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"> </ion-icon>
      <ion-input type="password" placeholder="password" formControlName="password">
      </ion-input>
    </ion-item>

  </form>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)='onSubmit()' [disabled]="authForm.invalid">
    {{loginButtonText}}
  </ion-button>
  
  <ion-button fill="outline" color="primary" expand="block" (click)="changeAuthAction()">
    {{createAccButtonText}}
  </ion-button>

</ion-footer>